/*
 * BibcodeQueryLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package edu.harvard.adsabs.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.type.TypeReference;

import edu.harvard.adsabs.*;
import edu.harvard.adsabs.models.*;
import edu.harvard.adsabs.exceptions.*;
import edu.harvard.adsabs.http.client.HttpClient;
import edu.harvard.adsabs.http.client.HttpContext;
import edu.harvard.adsabs.http.request.HttpRequest;
import edu.harvard.adsabs.http.response.HttpResponse;
import edu.harvard.adsabs.http.response.HttpStringResponse;
import edu.harvard.adsabs.http.client.APICallBack;

public class BibcodeQueryBindingController extends BaseController {    
    //private static variables for the singleton pattern
    private static Object syncObject = new Object();
    private static BibcodeQueryBindingController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the BibcodeQueryBindingController class 
     */
    public static BibcodeQueryBindingController getInstance() {
        synchronized (syncObject) {
            if (null == instance) {
                instance = new BibcodeQueryBindingController();
            }
        }
        return instance;
    }

    /**
     * TODO: type endpoint description here
     * @param    bibcode    Required parameter: Example: 
     * @param    dbKey    Required parameter: Example: 
     * @param    dataType    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void getBibcodeAsync(
                final String bibcode,
                final String dbKey,
                final String dataType,
                final APICallBack<ReturnBibcode> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/cgi-bin/nph-bib_query");

        //process query parameters
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5271388463717844899L;
            {
                    put( "bibcode", bibcode );
                    put( "db_key", dbKey );
                    put( "data_type", dataType );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 4972582710364978596L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            ReturnBibcode _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<ReturnBibcode>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}